<!-- The template for a single post. Inserted into the 'postsList' template.
    The 'url' 'title' and 'domain' values are helpers and variables accessable here.
     domain, and author, and ownPost are declared in post_item.js.
     'url' and 'title' are from the post object in our database -->

<template name="postItem">
	<div class="post">
		<div class="post-content">
			<h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
            <p>
                submitted by {{author}}
                {{#if ownPost}}
                    <a href="{{pathFor 'postEdit'}}">Edit</a>
                {{/if}}
            </p>
		</div>
		<a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>		
	</div>
</template>